*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 3000px;
}
aside{
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    width: 100px;
    background-color: green;
    color: white;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    background-color: white;
    padding: 1rem 1rem;
    flex: .6;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.modal button{
    align-self: self-start;
    padding: .5rem 1rem;
    border-radius: .3rem;
    border-color: grey;
}