.col1{
    background-color: pink;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col2{
    background-color:lightcyan;
    width: 200px;
}
.flex{
    display: flex;
}
.flex2{
    display: flex;
    justify-content: space-between;
    height: 30px;
}