*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: .5rem;
}
h3{
    color: grey;
    margin-bottom: 1rem;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1rem;
}
button{
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: rgb(3, 134, 3);
    color: white;
    text-transform: capitalize;
    border: none;
}